/* Author Shubham Kumar */
/* Food order website */
/* version 1.0 */
*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}
.wrapper{
    /* border: 1px solid black; */
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}
.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}
.tbl-full{
    width: 100%;
}
table tr th{
    border-bottom: 1px solid lightgray;
    padding: 1%;
    text-align: left;

}
table tr td{
    padding: 1%;
}
/* Css For Menu */
.menu{
    border-bottom: 1px solid gray;
}
.menu{
    border:1px 0 ;
}
.menu ul{
    list-style-type: none;
    
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a{
   text-decoration: none; 
   font-weight: bold;
   color: #ff6b81;

}
.menu ul li a:hover{
    color: #ff4757;
}

/* css for main content */
.main-content{
    /* margin: 1% 0; */
   background-color: #f1f2f6;
   padding:3% 0 ;
}
.col-4{
    width: 18%;
    background-color: white;
    margin:1%;
    padding: 2%;
    float: left;
}

/* footer css */
.footer{
    background-color: #ff4757;
    color: white;

}
.footer a{
    color:white;
    text-decoration: none;
    /* background-color: thistle; */
}
.footer a:hover{
    color: black;
}