/* 
Author:Shubham kumar
Theme: Online Food delivery
*/
*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    /* border: 1px solid black; */
  width: 90%;
  margin: 0 auto;
padding: 1%;
}
/* css for navbar section */
.logo{
    /* border: 1px solid black; */
    width: 25%;
    float: left;
    
    
}
.menu
{
    line-height: 700%;
}
.clearfix{
    clear: both;
    float: none;
}
/* css for navbar */
.text-right{
    text-align:right ;
}
.menu ul{
   list-style-type: none; 
}
.menu ul li{
    display: inline;
    
    padding: 1%;
    font-weight:bold ;
}
a{
    color:#ff6b80;
    text-decoration: none;
}
a:hover{
    color: #ff4757;
}

/* .menu ul li a{
    color: black;
} */
/*css for food search  */

.food-search{
    background-image: url(../back.jfif);
    background-size:cover;
    /* background-repeat: no-repeat; */
    background-position:center ;
    padding: 6% 0;
}
.text-center{
    text-align: center;

}
.food-search input[type="search"]{
    width: 60%;
    padding: 1%;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
}
.btn{
    padding:1%;
    border: none;
    font-size: 1rem;
    border-radius: 5px;

}
.btn-primary{
    background-color: #ff6b80;
    color: aliceblue;
    cursor: pointer;
}
.btn-primary:hover{
    background-color: #ff4757;
    color: aliceblue;
}

h2{
    color: #2f3542;
    font-size: 2rem;
    margin-bottom: 2%;
}
/* Css for category section */
.category{
    padding: 4% 0;
}
.box3{
    /* border:1px solid black; */
    width: 28%;
    float: left;
    margin: 2%;

}
.img-curve
{
    border-radius: 15px;
}
.border{
    border:none
}
/* css for food menu */
.food-menu{
    background-color: rgba(128, 128, 128, 0.418);
    padding: 3% 0;
}
.food-menu-box{
    /* border: 1px solid black; */
    width: 43%;
    margin: 2%;
    float: left;
    padding: 1%;
    background-color: white;
    border-radius: 15px;

}

.food-menu-img{
    width: 20%;
    float: left;
}
.img-responsive{
    width: 100%;
    
}
.food-menu-desc{
    width: 70%;
    float: left;
    margin-left: 8%;
}
.food-price{
    font-size: 1.3rem;
    margin: 2% 0;
}
.food-detail{
    font-size: 1rem;
    color:#747d8c ;
}
/* css for social */
.social ul{
    list-style-type: none;
}
.social ul li{
    display: inline;
    padding: 1%;
}

/* css for Mobile size  */
@media only screen and (max-width:768px){
    .logo{
        width: 60%;
        float: none;
        margin:1% 20%;

    }
    .menu ul{
        text-align: center;
        float: center;
    }
    .menu{
        line-height: 130%;
    }
    .food-search input[type="search"]{
        width: 90%;
        padding: 3%;
        margin-bottom: 2%;
        margin-top: 2%;

    }
    .btn{
        width: 32%;
         padding:3%;
         margin-top: 2%;
    }
    .box3{
        width: 90%;
        margin:3% 3%;
    }
    h2{
        margin-bottom:5% auto;
    }
    .category{
        padding: 10% 0;
    }
    .food-search{
        padding:10% 0;
    }
    .food-menu{
        padding: 15% 0;
    }
    .food-menu-box{
        width: 90%;
        padding: 4% 3%;
        margin-bottom: 8% ;
    }
    .social{
        padding:5% 0;
    }
}